@tailwind base;
@tailwind components;
@tailwind utilities;

/* Roboto slab */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");

/* Raleway */
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');

* {
   font-family: 'Raleway', sans-serif;
}

.no-scrollbar::-webkit-scrollbar {
   display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
   -ms-overflow-style: none; /* IE and Edge */
   scrollbar-width: none; /* Firefox */
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}